version: '3.1'

services:
  # Database
  database:
    image: postgres
    restart: always
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
    ports:
      - "5432:5432"

  # Api HTTP client
  api:
    build:
      context: ./backend
      dockerfile: Dockerfile-dev
    volumes:
      - ./backend:/app
    ports:
      - "4000:8080"
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
      POSTGRES_PORT: 5432

  # Ngrok HTTP client to use to talk to twitch
  ngrok:
    image: shkoliar/ngrok:latest
    ports:
      - "4551:4551"
    links:
      - api
    environment:
      - DOMAIN=api
      - PORT=8080
      - REGION=eu